extends layout

// Define basic data fields using jade's mixin feature
// Bind to those fields for dynamic updates

block styles

block scripts
  script(src='socket.io/socket.io.js')
  script(src='/javascripts/client.socket.io.js')

block content
  div(class="container")
    div.page-header: h1 Ping-Pong
    div(class="row")
      div(class="col-lg-3")
        button(id="ping", class="btn btn-default") Ping
